body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
}
.landing {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    text-align: center; 
    background-color: #f4f4f4; 
}

.landing-image {
    max-width: 300px; 
    height: auto; 
    margin-bottom: 20px; 
}

.education-image {
  max-width: 70%;
  height: auto;
}

.education-images {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.section {
    padding: 100px 20px;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.section:nth-child(even) {
    background-color: #e2e2e2;
}

h1, h2 {
    margin: 0;
}
.about-container {
    display: flex;  
    align-items: center; 
    margin-top: 20px; 
}

.about-image {
    width: 300px; 
    height: auto; 
    margin-right: 20px; 
    border-radius: 10px;
}

.about-text {
    max-width: 600px; 
}

.skill-group {
  margin-bottom: 20px;
}

.skill-group h3 {
  font-weight: bold;
}

.skill-group ul {
  list-style-type: none;
  padding-left: 0;
}

.skill-group li {
  margin-bottom: 10px;
}
.contact-info {
    text-align: center;
    margin: 20px;
}
.contact-info ul {
    list-style: none;
    padding: 0;
}
.contact-info li {
    margin-bottom: 10px;
}
.contact-info a {
    color: #333;
    text-decoration: none;
}